.postContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-width: 300px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    padding: 5px;

    .postAuthor {
        background: #fafafa;
        padding: 0.5rem;
        text-align: center;
    }

    .postBody{
        font-size: 12px;
    }
}
