services/db/02_rest.sql filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
* text=auto eol=lf
services/db/01_user.sql filter=lfs diff=lfs merge=lfs -text
