aniso8601==9.0.1
attrs==23.1.0
bcrypt==4.0.1
black==22.3.0
blinker==1.6.2
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==2.1.1
click==8.1.7
coverage==7.3.0
distlib==0.3.7
execnet==2.0.2
filelock==3.12.3
flake8==4.0.1
Flask==2.3.3
Flask-Admin==1.6.1
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
flask-restx==1.1.0
Flask-SQLAlchemy==3.0.5
fsspec==2023.9.0
greenlet==2.0.2
gunicorn==21.2.0
huggingface-hub==0.16.4
identify==2.5.27
idna==3.4
iniconfig==2.0.0
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
lightgbm==3.3.1
MarkupSafe==2.1.3
mccabe==0.6.1
mpmath==1.3.0
mypy-extensions==1.0.0
mysql-connector-python==8.1.0
mysqlclient==2.2.0
networkx==3.1
nodeenv==1.8.0
numpy==1.25.2
packaging==23.1
pandas==1.5.2
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
pluggy==1.3.0
pre-commit==3.4.0
protobuf==4.21.12
py==1.11.0
pyarrow==10.0.1
pycodestyle==2.8.0
pyflakes==2.4.0
PyJWT==2.8.0
pytest==7.1.1
pytest-cov==3.0.0
pytest-forked==1.6.0
pytest-xdist==2.5.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
regex==2023.8.8
requests==2.28.1
rpds-py==0.10.2
scikit-learn==1.2.2
scipy==1.11.2
six==1.16.0
SQLAlchemy==2.0.20
sympy==1.12
threadpoolctl==3.2.0
tokenizers==0.13.3
tomli==2.0.1
tqdm==4.66.1
transformers==4.25.1
typing_extensions==4.7.1
urllib3==1.26.16
virtualenv==20.24.4
Werkzeug==2.3.7
WTForms==3.0.1
