.Feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: #f2f2f2;
}

.Feed.dark {
  background-color: #333;
  color: #fff;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;  /* Adjust as needed */
  border: 1px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px; 
  background-color: #f7f7f7;  /* Light grey background */
}

.empty-state p {
  font-size: 16px;
  color: #666;
  text-align: center;
}

/* Dark mode adjustments for the empty state */
.Feed.dark .empty-state {
  background-color: #444;  /* Darker grey for the dark mode */
  border-color: #555;
}

.Feed.dark .empty-state p {
  color: #ccc;  /* Lighter grey text for the dark mode */
}